  
/* base */
@import './base/reset.css';
@import './base/variables.css';
@import './base/layout.css';

/* 3rd party */
@import './3rd-party/font-awesome.min.css';
/* components */
@import './components/button.css';
@import './components/clock.css';
@import './components/form.css';
@import './components/mouse.css';
@import './components/progress-bar.css';

/* CUSTOM STYLE BELOW THIS COMMENT */

.bg-primary {
  background-color: var(--color-primary);
}

.bg-secondary {
  background-color: var(--color-secondary);
}


/*HERO SECTION*/

.container.hero {
  padding-bottom: 25px;
  background-image: url(../img/hero-background.jpg);
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  background-attachment: fixed;
}

.hero > .row-small {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 20px;
}

.logo {
  height: 40px;
  width: 200px;
  object-fit: contain;
  object-position: center;
}

.main-title {
  text-transform: uppercase;
  font-size: 70px;
  color: var(--color-dark);
}

.main-description {
  font-size: 20px;
  color: var(--color-grey);
}

/* MAIN SECTION*/

/* FOOTER SECTION*/
footer.container {
  padding-top: 0;
}

.socials {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
  border-bottom: 1px solid var(--color-light);
  padding: 20px;

}

.socials > .fa {
  color: var(--color-light);
  text-decoration: none;
  width: 40px;
  height: 40px;
  line-height: 40px;
  font-size: 24px;
  text-align: center;
  border-radius: 50%;
  transition: all 0.5s;
}

.socials > .fa:hover {
  background-color: var(--color-light);
  color: var(--color-primary)
}