.button {
  display: inline-block;
  padding: 10px 30px;
  line-height: 24px;
  font-size: 20px;
  text-align: center;
  text-decoration: none;
  background-color: var(--color-secondary);
  color: var(--color-light);
  border: none;
  border-radius: 4px;
  cursor: pointer;
  box-shadow: 0 6px 8px #0003;
  transition: all 0.5s;
}

.button:hover {
  box-shadow: 0 6px 8px #0007;
}

subscribe_email {
  background: transparent;
}
